@model Sexshop_TutsiPop.Models.estado_pedido

@{
    ViewData["Title"] = "Details";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/Styledetails.css" />

</head>

<h1>Estado Pedido</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_estado">Edit</a> |
    <a asp-action="Index">Regresar</a>
</div>
