@model Sexshop_TutsiPop.Models.empleados

@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/stylecreate.css" />

</head>
<h1>Agregar Nuevo Empleado</h1>

<h4>empleados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cedula_empleado" class="control-label"></label>
                <input asp-for="cedula_empleado" class="form-control" />
                <span asp-validation-for="cedula_empleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido" class="control-label"></label>
                <input asp-for="apellido" class="form-control" />
                <span asp-validation-for="apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo" class="control-label"></label>
                <input asp-for="correo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numero_telefono" class="control-label"></label>
                <input asp-for="numero_telefono" class="form-control" />
                <span asp-validation-for="numero_telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_contratacion" class="control-label"></label>
                <input asp-for="fecha_contratacion" class="form-control" />
                <span asp-validation-for="fecha_contratacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rol" class="control-label"></label>
                <input asp-for="rol" class="form-control" />
                <span asp-validation-for="rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="salario" class="control-label"></label>
                <input asp-for="salario" class="form-control" />
                <span asp-validation-for="salario" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="activo" /> @Html.DisplayNameFor(model => model.activo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
