@model Sexshop_TutsiPop.Models.entregas

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/stylecreate.css" />

</head>
<h1>Modificar Entrega</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_entrega" />
            <div class="form-group">
                <label asp-for="id_pedido" class="control-label"></label>
                <input asp-for="id_pedido" class="form-control" />
                <span asp-validation-for="id_pedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_direccion_entrega" class="control-label"></label>
                <input asp-for="id_direccion_entrega" class="form-control" />
                <span asp-validation-for="id_direccion_entrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_entrega" class="control-label"></label>
                <input asp-for="fecha_entrega" class="form-control" />
                <span asp-validation-for="fecha_entrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado_entrega" class="control-label"></label>
                <input asp-for="estado_entrega" class="form-control" />
                <span asp-validation-for="estado_entrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cedula_empleado" class="control-label"></label>
                <input asp-for="cedula_empleado" class="form-control" />
                <span asp-validation-for="cedula_empleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
