body {
    background-color: white;
    color: #333;
}

.container-fluid {
    background-color: white;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h4 {
    color: #333;
    font-weight: 600;
}

.form-group label {
    color: #333;
}

.form-control {
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ccc;
}


.btn-primary {
    margin-top: 6px;
    background-color: #2b2f33;
    border-color: #2b2f33;
    color: white;
}

    .btn-primary:hover {
        background-color: #444;
        border-color: #444;
    }

a {
    color: black;
    text-decoration: none;
}



