
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ff9c9c;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-logo {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}

.navbar-login {
    color: white;
    text-decoration: none;
}

    .navbar-login i {
        font-size: 1.5em;
    }

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #0066cc;
    margin-bottom: 20px;
}

.cta-button {
    background: #0066cc;
    color: white;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .cta-button:hover {
        background: #004d99;
        transform: scale(1.05);
    }

.swiper-hero {
    width: 100%;
    max-width: 1600px;
}

    .swiper-hero img {
        height: 100px;
        width: 100%;
        object-fit: cover;
    }

@media (min-width: 1024px) {
    .swiper-hero img {
        height: 344px;
    }
}

.swiper-hero .swiper-button-prev,
.swiper-hero .swiper-button-next {
    --swiper-navigation-size: 20px;
    background: white;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    border-radius: 50%;
    opacity: 0; /* Inicia con opacidad 0 */
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease; /* Agrega la transición de opacidad */
}

/* Cambia la opacidad al pasar el ratón */
.swiper-hero:hover .swiper-button-prev,
.swiper-hero:hover .swiper-button-next {
    opacity: 1; /* Muestra los botones al pasar el ratón */
}

.swiper-hero .swiper-button-prev {
    left: -10px;
}

.swiper-hero .swiper-button-next {
    right: -10px;
}

    .swiper-hero .swiper-button-prev:hover,
    .swiper-hero .swiper-button-next:hover {
        background-color: hotpink; /* Cambia a hotpink al hacer hover */
        color: white; /* Cambia el color de la flecha a blanco */
    }

    /* Cambia el color de la flecha (ícono) */
    .swiper-hero .swiper-button-prev::before,
    .swiper-hero .swiper-button-next::before {
        font-size: 20px; /* Tamaño de la flecha */
        color: hotpink; /* Color original de la flecha */
    }

    .swiper-hero .swiper-button-prev:hover::before,
    .swiper-hero .swiper-button-next:hover::before {
        color: white; /* Color de la flecha en blanco al hacer hover */
    }

.swiper-hero .swiper-pagination {
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.25;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 2px;
}

.swiper-hero .swiper-pagination-bullet {
    box-shadow: inset 0 0 0 1px #fff;
}

.swiper-hero .swiper-pagination-bullet-active {
    box-shadow: inset 0 0 0 1px black;
}

