@{
    Layout = "~/Views/Shared/_LayoutInicio.cshtml";
    ViewData["Title"] = "Inicio";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hola Mundo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <h1>@("Hola Mundo desde Razor!")</h1>
                <p>Este es un ejemplo básico de una página Razor (.cshtml).</p>
            </div>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
