<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="/Images/gift.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutsiPop</title>
    <!-- ICONOS -->
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
    <!-- SWIPER -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/StyleIndex.css" />
    <style>
        .navbar {
            background-color: #d97878; /* Color de fondo de la barra de navegación */
            padding: 10px;
        }

        .navbar-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navbar-logo {
            margin-right: auto; /* Permite que el logo se mueva a la izquierda */
        }

        .navbar-links {
            display: flex; /* Alinea los enlaces en línea */
            align-items: center; /* Centra verticalmente los enlaces */
        }

        .navbar-login {
            color: #ffffff; /* Color del texto e ícono */
            text-decoration: none;
            display: flex; /* Para alinear el ícono y el texto en línea */
            align-items: center;
            margin-left: 15px; /* Espacio entre los enlaces */
        }

            .navbar-login span {
                margin-left: 5px; /* Espacio entre el ícono y el texto */
            }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="#" class="navbar-logo">TutsiPop</a>
            <div class="navbar-links">

                <a class="navbar-login" asp-area="" asp-controller="Inicio" asp-action="Login">
                    <i class='bx bxs-user-circle'></i>
                    <span>Iniciar Sesión</span>
                </a>
                <a class="navbar-login" asp-area="" asp-controller="Inicio" asp-action="Registrar">
                    <i class='bx bxs-user-plus'></i> <!-- Cambiado a ícono de registrar -->
                    <span>Registrarse</span>
                </a>

            </div>
        </div>
    </nav>

    <!-- Aquí va el contenido específico de cada vista -->
    @RenderBody()  <!-- Esta línea es crucial -->
    @* Comenté el footer para evitar que se renderice si no lo necesitas ahora *@
    @*
    <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - Sexshop_TutsiPop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>
    *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
