@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<head>

    <link rel="stylesheet" href="@Url.Content("~/css/Error.css")" />

</head>

<div class="error-container">
    <div class="error-content">
        <img src="~/images/gift.png" alt="Página no encontrada" class="error-image" />
        <h1 class="error-title">¡Oops! Página no encontrada</h1>
        <p class="error-message">
            Lo sentimos, la página que buscas no existe o ha sido movida. Asegúrate de que la URL es correcta.
        </p>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="@Url.Action("IndexUsuario", "Home")" class="btn btn-primary">Volver al inicio</a>
        }
        else
        {
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Volver al inicio</a>
        }
       
    </div>
</div>

