@model Sexshop_TutsiPop.Models.metodos_pago

@{
    ViewData["Title"] = "Details";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/Styledetails.css" />

</head>
<h1>Metodo de Pago</h1>

<div>
    <h4>metodos_pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.metodo_pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.metodo_pago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_metodo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
