@model Sexshop_TutsiPop.Models.pedidos

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/stylecreate.css" />

</head>
<h1>Agregar Nuevo Pedido</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_proveedor" class="control-label"></label>
                <input asp-for="id_proveedor" class="form-control" />
                <span asp-validation-for="id_proveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_pedido" class="control-label"></label>
                <input asp-for="fecha_pedido" class="form-control" />
                <span asp-validation-for="fecha_pedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_direccion" class="control-label"></label>
                <input asp-for="id_direccion" class="form-control" />
                <span asp-validation-for="id_direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_metodo_pago" class="control-label"></label>
                <input asp-for="id_metodo_pago" class="form-control" />
                <span asp-validation-for="id_metodo_pago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_estado" class="control-label"></label>
                <input asp-for="id_estado" class="form-control" />
                <span asp-validation-for="id_estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
