@model Sexshop_TutsiPop.Models.detalle_pedido

@{
    ViewData["Title"] = "Create";
}
<head>
    <link rel="stylesheet" href="~/css/stylecreate.css" />

</head>
<h1>Create</h1>

<h4>detalle_pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_pedido" class="control-label"></label>
                <input asp-for="id_pedido" class="form-control" />
                <span asp-validation-for="id_pedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_producto" class="control-label"></label>
                <input asp-for="id_producto" class="form-control" />
                <span asp-validation-for="id_producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cantidad" class="control-label"></label>
                <input asp-for="cantidad" class="form-control" />
                <span asp-validation-for="cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descuento" class="control-label"></label>
                <input asp-for="descuento" class="form-control" />
                <span asp-validation-for="descuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
